# Python
venv/
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# Environment variables
.env
.env.*

# Node
node_modules/

# Database
*.db
*.sqlite3

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/

# Uploads
backend/uploads/*
!backend/uploads/.gitkeep